//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
$main-content-font: 'Source Sans 3', sans-serif;
$main-content-font-weight-default: lighter;

$monospace-font: 'Roboto Mono', monospace;
$monospace-font-weight-default: medium;

$heading-font: 'Source Sans 3', sans-serif;
$heading-font-weight-default: normal;


//Text Colour
$main-content-text-color: #222222;
$heading-text-color: #444444;
$navbar-text-colour: #000000;
$code-text-color: #990055;

//Link colour
$link-colour: #23527c;

$header-link-colour: #444444;

//Borders and panels
$border-colour: #cdcdcd;

//Site header
$navbar-link-color: #222222;


  //$navbar-colour: rgb(143, 192, 92); //COAR green colour
//$navbar-colour: #dedede;
//$header-colour: #dedede;
//$panel-background-colour: #dedede;




