@import 'variables';

#homepage-content .post-container {
  margin-bottom: 50px;
}

.about-page-mugshot img {
  float: right;
  padding-left: 10px;
  padding-right: 0px;
  margin-top: 0;
  border: none;
  box-shadow: none;
}
