@import 'variables';

#mastodon-feed, #mastodon-feed p, #mastodon-feed a {
  font-size: 0.9em;
  //color: red;
}

#mastodon-feed {
  border-left: 1px solid $border-colour;
  margin-top: 10px;
  padding-left: 10px;
}

#mastodon-feed-header {
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 2px solid $border-colour;
}

.mastodon-toot {
  border-bottom: 1px solid $border-colour;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.mastodon-toot-header {
  font-weight: bold;
}

img#mastodon-logo {
  padding: 0px;
  height: 100%;
  box-shadow: none;
  float: left;
}
