@import 'variables';
.post {
  //margin-bottom: 30px;
  //border-bottom: 2px dotted #cdcdcd;
}

.post-footer {
  border-top: 1px solid #cdcdcd;
  font-size: smaller;
}

.post-footer .post-footer-right {
  text-align: right;
}
