@import 'variables';

.sidebar {
  border-left: 1px solid $border-colour;
  margin-top: 10px;
  padding-left: 10px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 2px solid $border-colour;
}