{{ define "main" }}
	<div class="row">
    <div class="col">
      <h1 class="page-title">{{.Title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-9 col-md-10">
    	<div class="card">
		    <div class="card-body">

				{{.Content}}
				<div class="post-author-and-date">{{ partial "news_and_article_metadata" . }}</div>
		      {{ template "_internal/disqus.html" . }}
		    </div>
{{/*		    <div class="card-footer item-metadata-card-footer">*/}}
{{/*		      {{ partial "news_and_article_metadata" . }}*/}}
{{/*		    </div>*/}}
		  </div>
    </div>
  	<div class="col-3 col-md-2 sidebar">
	    <div class="card">
	      <div class="card-header sidebar-header">
	        News Archive
	      </div>
	      <div class="card-body">
	        <ul>
	        {{ $sections := (.Site.GetPage "section" "post").Sections }}
	        {{ range sort $sections "Title" "desc" }}
	          <li><a href="{{.Permalink}}">{{ substr .Title 10}}</a></li>
	        {{ end }}
	      	</ul>
	      </div>
	    </div>
	  </div>
  </div>
{{ end }}