{{ define "main" }}
    {{ $metadata_profile_name := .Params.metadata_profile_name }}
    <div class="row">
        <div class="col">
            <h1 class="page-title">{{.Title}}</h1>
            {{ partial "release_notes_header" .}}
            {{ .Content }}
            <h2>Properties in this profile</h2>
            {{ $scratch := newScratch }}
            {{ range sort (.Resources.Match "*.md") ".Title" }}
                {{ $propertyLink := print "<a href=\"#" .Title "\">" .Title "</a>"}}
                {{ $scratch.Add "propertyNames" (slice $propertyLink) }}
            {{ end }}
            {{ delimit ($scratch.Get "propertyNames") " | " }}
            <br/><br/>
            <h2>Property details and examples</h2>
            <table class="table table-sm sorted-table">
                <thead>
                <tr>
                    <th>Element</th>
                    <th>Cardinality</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{ range .Resources.Match "*.md" }}
                    <tr>
                        <td><a id="{{.Title}}"></a>{{.Title}}</td>
                        <td>{{.Params.cardinality}}</td>
                        <td>
                            {{.Content}}
                        </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{ end }}
