{{ define "main" }}
    {{ $metadata_profile_name := .Params.metadata_profile_name }}
    <div class="row">
        <div class="col">
            <h1 class="page-title">{{.Title}}</h1>
            {{ partial "release_notes_header" .}}
            {{ .Content }}
            <h2>Properties in this profile</h2>
            {{ $scratch := newScratch }}
            {{ range sort (.Resources.Match "*.md") ".Title" }}
                {{ $propertyLink := print "<a href=\"#" .Title "\">" .Title "</a>" }}
                {{ $scratch.Add "propertyNames" (slice $propertyLink) }}
            {{ end }}
            {{ delimit ($scratch.Get "propertyNames") " | "  | markdownify }}
            <br/><br/>
            <h2>Example Rioxx Records</h2>
            <a href="#example-records">Some examples of full Rioxx records (serialised as XML) are provided at the bottom of this page</a>
            <br/><br/>
            <h2>Property details and examples</h2>
            <table class="table table-sm sorted-table">
                <thead>
                <tr>
                    <th>Element</th>
                    <th>Cardinality</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{ range sort (.Resources.Match "*.md") ".Title" }}
                    <tr>
                        <td><a id="{{.Title}}"></a>{{.Title}}</td>
                        <td>{{.Params.cardinality}}</td>
                        <td>
                            {{.Content}}
                        </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
<br/>
            <h1 id="example-records">Example Rioxx Records (XML)</h1>
            {{ with .Resources.Match "example-records/*.md" }}
                <div class="accordion" id="accordionExample">
                    {{ range . }}
                        {{ $exampleName := strings.TrimPrefix "example-records/" .Name }}
                        {{ $exampleName = strings.TrimSuffix ".md" $exampleName }}
                        <h2 class="accordion-header" id="heading{{ $exampleName }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ $exampleName }}" aria-expanded="false" aria-controls="collapse{{ $exampleName }}">
                                {{ .Title }}
                            </button>
                        </h2>
                        <div id="collapse{{ $exampleName }}" class="accordion-collapse collapse" aria-labelledby="heading{{ $exampleName }}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div style="font-size: 0.9em;">{{ .Content }}</div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}
