{{ define "main" }}
    <div class="row">
        <div class="col">
            <h1 class="page-title">{{ .Title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            {{ .Content }}
        </div>
        <div class="col-4">
            <h4>Acknowledgments</h4>
            <ul>
                {{ $contributorsCSV := data.GetCSV "," "content/about/contributors.csv" }}
                {{ range $i,$v := $contributorsCSV }}
                    {{ if gt $i 0 }}
                        <li>
                            {{ index $v 0 }} {{ index $v 1 }}
                            {{ with index $v 2 }}
                                , {{ . }}
                            {{ end }}
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
{{ end }}