{{ define "main" }}
  <div class="row">
    <div class="col">
      <h1 class="page-title">{{.Title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="text-justify">{{ .Content }}</div>
    </div>
    <div class="col-lg-4">
      <h2>Meeting Minutes</h2>
      {{ with .GetPage "/governance/minutes/_index.md" }}
        <ul>
        {{ range .Pages }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
{{ end }}