<nav id="top-nav-bar" class="navbar navbar-expand-md navbar-light navbar-dcmi" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post/">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/guidelines/">Guidelines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/v2-0-final/">Specification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/implementation/">Implementation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crosswalk_rioxx_2_0_openaire_3_0/">OpenAIRE mapping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
    </ul>

    <!--   <form action="/search" method="get">
    <input class="form-control-sm" type="text" name="q" placeholder="quick search...."/>
  </form> -->

    <!-- <form action="/search" method="get" class="form-inline my-2 my-lg-0 search-box-dcmi">
      <input class="form-control mr-sm-2 search-box-dcmi" type="search" placeholder="Search" aria-label="Search"/> -->
      <!-- <button class="btn btn-outline-success my-2 my-sm-0 search-box-dcmi" type="submit">Search</button>
    </form> -->
  </div>
</nav>

